- content_for :title, 'Log in'

.row
  .col-xs-offset-3.col-xs-6
    - flash.each do |name, msg|
      %div{:class => "alert alert-#{name} alert-dismissible", :role => "alert"}
        %button.close{"data-dismiss" => "alert", :type => "button"}
          %span{"aria-hidden" => "true"} &times;
          %span.sr-only Close
        = msg
    .panel.panel-default
      .panel-heading
        %h2 Log in
      .panel-body
        = form_for :session, html: {role: 'form'}, url: login_path do |f|
          .form-group
            = f.label :login, 'Username or Email'
            = f.text_field :login, class: 'form-control'
          .form-group
            = f.label :password
            = f.password_field :password, class: 'form-control'
          = button_tag 'Sign in', class: 'btn btn-default'
