.row.contest-content
  .col-md-10.metadata
    %h2= link_to @contest.title, contest_path(@contest.slug, @contest.id)
    = raw @contest.description_baked
    = render partial: 'contests/timeframe', object: @contest
  .col-md-2.stats
    .stat-problem-count
      %span.text-muted Problems
      %strong.contest-stat-count= @contest.problems.count
    .stat-people-joined
      %span.text-muted People joined
      %strong.contest-stat-count= @contest.users.count
