= render 'shared/error_messages', record: @contest
.form-group
  %label{:for => "problem-title"} Title
  = f.text_field :title, class: 'form-control', id: 'problem-title', placeholder: 'Be descriptive'
.form-group
  = render partial: 'components/source_editor',  |
    locals: {                                    |
    preview_url: '',                             |
    ace_mode: 'markdown',                        |
    indent_width: %w(2 4 8),                     |
    tab_label: 'Edit description',               |
    preview_label: 'Preview',                    |
    attribute: f.text_area(:description_raw) }
.form-group
  %h3 Problem listing
  .problems
  .row
    .col-xs-12
      = hidden_field_tag :problems, nil, id: 'hidden-problem-list'
      %ul#problem-lists
        - @contest.problems.each do |p|
          = render partial: 'problems/problem_item', locals: {removable: true, :@problem => p}
      %input#search-add-problem.form-control{placeholder: 'Search problem', type: 'text'}
.form-group
  %h3 Contest type
  = f.select :contest_status, [['Normal', 0], ['Delayable', 1]], {}, class: 'form-control'
.form-group
  %h3 Time settings
  .row.time-setting{data: {type: 'normal delayable'}}
    .col-xs-2
      %label{for: 'started-at-datetimepicker'}
        Started at
    .col-xs-10
      #started-at-datetimepicker.input-group.datetimepicker
        = f.text_field :started_at, class: 'form-control'
        %span.input-group-addon
          %i.fa.fa-calendar
  .row.time-setting{data: {type: 'normal delayable'}}
    .col-xs-2
      %label{for: 'end-at-datetimepicker'}
        End at
    .col-xs-10
      #end-at-datetimepicker.input-group.datetimepicker
        = f.text_field :end_at, class: 'form-control'
        %span.input-group-addon
          %i.fa.fa-calendar
  .row.time-setting{data: {type: 'delayable'}}
    .col-xs-2
      %label{for: 'delayed-till-datetimepicker'}
        Delayed till
    .col-xs-10
      #delayed-till-datetimepicker.input-group.datetimepicker
        = f.text_field :delayed_till, class: 'form-control'
        %span.input-group-addon
          %i.fa.fa-calendar
  .row.time-setting{data: {type: 'normal'}}
    .col-xs-2
      %label{for: 'frozen-ranklist-from-datetimepicker'}
        Frozen ranklist from
    .col-xs-10
      #frozen-ranklist-from-datetimepicker.input-group.datetimepicker
        = f.text_field :frozen_ranklist_from, class: 'form-control'
        %span.input-group-addon
          %i.fa.fa-calendar
