= render 'shared/error_messages', record: @contest
.form-group
  %label{for: 'contest-title'} Title
  = f.text_field :title, class: 'form-control', id: 'contest-title', placeholder: 'Be descriptive'
.form-group
  = render partial: 'components/source_editor',  |
    locals: {                                    |
    preview_url: '',                             |
    ace_mode: 'markdown',                        |
    indent_width: %w(2 4 8),                     |
    tab_label: 'Edit description',               |
    preview_label: 'Preview',                    |
    attribute: f.text_area(:description_raw) }
.form-group
  %h3 Problem listing
  .problems
  .row
    .col-xs-12
      = f.collection_select :problem_ids, ContestProblem.where(contest: @contest).order(:position),
          :problem_id, :problem_title, {selected: @contest.problem_ids}, {multiple: true}
.form-group
  %h3 Contest type
  = f.select :type, [['Normal', ''], ['Delayable', 'DelayableContest']], {}, class: 'form-control'
.form-group
  %h3 Time settings
  .row.time-setting{data: {type: 'normal DelayableContest'}}
    .col-xs-2
      %label{for: 'started-at-datetimepicker'}
        Started at
    .col-xs-10
      #started-at-datetimepicker.input-group.datetimepicker
        = f.text_field :started_at, class: 'form-control'
        %span.input-group-addon
          %i.fa.fa-calendar
  .row.time-setting{data: {type: 'normal DelayableContest'}}
    .col-xs-2
      %label{for: 'end-at-datetimepicker'}
        End at
    .col-xs-10
      #end-at-datetimepicker.input-group.datetimepicker
        = f.text_field :end_at, class: 'form-control'
        %span.input-group-addon
          %i.fa.fa-calendar
  .row.time-setting{data: {type: 'DelayableContest'}}
    .col-xs-2
      %label{for: 'delayed-till-datetimepicker'}
        Delayed till
    .col-xs-10
      #delayed-till-datetimepicker.input-group.datetimepicker
        = f.text_field :delayed_till, class: 'form-control'
        %span.input-group-addon
          %i.fa.fa-calendar
  .row.time-setting{data: {type: 'normal'}}
    .col-xs-2
      %label{for: 'frozen-ranking-from-datetimepicker'}
        Frozen ranking from(optional)
    .col-xs-10
      #frozen-ranking-from-datetimepicker.input-group.datetimepicker
        = f.text_field :frozen_ranking_from, class: 'form-control'
        %span.input-group-addon
          %i.fa.fa-calendar
