.form-group
  %label{:for => "problem-title"} Title
  = f.text_field :title, class: 'form-control', id: 'problem-title', placeholder: 'Be descriptive'
.form-group
  = render partial: 'components/source_editor',  |
    locals: {                                    |
    preview_url: '',                             |
    ace_mode: 'markdown',                        |
    indent_width: %w(2 4 8),                     |
    tab_label: 'Edit description',               |
    preview_label: 'Preview',                    |
    attribute: f.text_area(:description_raw) }
.form-group
  %h3 Problem listing
  .problems
  .row
    .col-md-12
      = hidden_field_tag :problems, nil, id: 'hidden-problem-list'
      %ul#problem-lists
        - @contest.problems.each do |p|
          = render partial: 'problems/problem_item', locals: {removable: true, :@problem => p}
      %input#search-add-problem.form-control{placeholder: 'Search problem', type: 'text'}
.form-group
  %h3 Time settings
  .row
    .col-md-2
      %label Started at
    .col-md-10
      = f.datetime_select :started_at
  .row
    .col-md-2
      %label End at
    .col-md-10
      = f.datetime_select :end_at
  .row
    .col-md-2
      %label Delayed till
    .col-md-10
      = f.datetime_select :delayed_till
