- content_for :title, 'Contest list'

- if staff?
  #contest-index-admin.admin-wrench.btn-group
    %button{ type: 'button', class: 'btn btn-default dropdown-toggle',
        data: { toggle: 'dropdown' }, aria: { expanded: 'false' } }
      %i.fa.fa-wrench
    %ul.dropdown-menu.pull-right{role: 'menu'}
      %li
        %a{href: new_contest_path}
          New Contest

.row
  .col-md-12
    .panel{ class: @live_contests.blank? ? 'panel-default' : ' panel-info' }
      .panel-heading
        %h4
          Live contests
      - if @live_contests.blank?
        .panel-body
          No live contests.
      - else
        %ul.list-group.contest-list.live-contests
          - @live_contests.each do |c|
            %li.list-group-item.contest-item
              = render partial: 'contests/contest', locals: { :@contest => c }


- unless @incoming_contests.blank?
  .row
    .col-md-12
      .panel.panel-default
        .panel-heading
          %h4
            Incoming contests
        %ul.list-group.contest-list.incoming-contests
          - @incoming_contests.each do |c|
            %li.list-group-item.contest-item
              = render partial: 'contests/contest', locals: { :@contest => c }


- unless @delayed_contests.blank?
  .row
    .col-md-12
      .panel.panel-warning
        .panel-heading
          %h4
            Delayed contests
        %ul.list-group.contest-list.delayed-contests
          - @delayed_contests.each do |c|
            %li.list-group-item.contest-item
              = render partial: 'contests/contest', locals: { :@contest => c }

.row
  .col-md-12
    .panel.panel-default
      .panel-heading
        %h4
          Finished contests
      - if @finished_contests.blank?
        .panel-body
          No finished contests.
      - else
        %table.table.table-hovered.table-bordered.contest-list.finished-contests
          %thead
            %tr
              %th Name
              %th Description
              %th Started at
              %th Closed at
          %tbody.row-clickable{ data: { element: 'tr' } }
            - @finished_contests.each do |c|
              %tr.contest-item
                %td= link_to c.title, contest_path(c.slug, c.id)
                %td= raw c.description_baked
                %td= c.started_at.to_formatted_s(:long_add_second)
                %td= c.end_time.to_formatted_s(:long_add_second)

