- content_for :title, 'Create new contest'
.row
  .col-md-9
    %ol.breadcrumb
      %li= link_to 'Home', root_path
      %li= link_to 'Contest', contests_path
      %li.active Create new contest
.row
  .col-md-9
    .panel.panel-default
      .panel-heading
        %h4 Create new contest
      .panel-body
        = form_for @contest do |f|
          = render partial: 'form', locals: { f: f }
          = f.button 'Create', class: 'btn btn-success'
          = button_to 'Cancel', contests_path, class: 'btn btn-default'
