- content_for :title, "#{@contest.title} ranking"

.row
  .col-xs-12
    %ol.breadcrumb
      %li= link_to 'Home', root_path
      %li= link_to 'Contests', contests_path
      %li= link_to @contest.title, show_contest_path(@contest.slug, @contest.id)
      %li.active Contest ranking

.panel.panel-info
  .panel-heading
    %h3= "#{@contest.title} ranking"
  - unless @contest.users.blank?
    %table.table.table-hover.table-bordered.table-condensed
      %thead
        %tr
          %th Rank
          %th Name
          %th Solved
          %th Time
          - @contest.problems.each_with_index do |u,i|
            %th= alphabet_offset(i)
      %tbody
        - @contest.user_ids.each_with_index do |u,i|
          - rank = @ranking[u]
          - result = rank[4]
          %tr
            %td= i + 1
            %td= User.find(u).name
            %td= rank[0] # "#{rank[0]}/#{rank[1]}"
            %td= rank[2]
            - @contest.problems.each_with_index do |p,i|
              - problem_result = result[p.id]
              %td= problem_result.length == 2 ? problem_result.join(' / ') : "#{problem_result.first} / --"
  - else
    .panel-body
      No one joins the contest.
