- content_for :title, @contest.title

- if current_user && current_user.staff?
  #contest-admin.admin-wrench.btn-group
    %button{type: 'button', class: 'btn btn-default dropdown-toggle',
        data: {toggle: 'dropdown'}, aria: {expanded: 'false'}}
      %i.fa.fa-wrench
    %ul.dropdown-menu.pull-right{role: 'menu'}
      %li
        %a{href: edit_contest_path(@contest)}
          Edit contest


.row
  .col-xs-9
    - progress = contest_progress @contest
    .panel{class: progress >= 0 && progress <= 100 ? 'panel-success' : 'panel-info'}
      .panel-heading
        .panel-title
          %h1.contest-title
            %a.anchor{id: 'contest-heading-anchor'}= @contest.title
      .panel-body
        .contest-content
          = raw @contest.description_baked
        .timeframe
          - if progress > 0 && progress < 100
            .progress
              .progress-bar{role: 'progressbar',
                  aria: {valuemin: 0, valuemax: 100, valuenow: progress},
                  style: "width: #{progress <= 60 ? progress : 60}%",
                  class: progress <= 60 ? 'active progress-bar-striped' : nil}
              - if progress > 60
                .progress-bar.progress-bar-warning{role: 'progressbar',
                    style: "width: #{progress <= 85 ? progress - 60 : 25}%",
                    class: progress <= 85 ? 'active progress-bar-striped' : nil}
              - if progress > 85
                .progress-bar.progress-bar-danger{role: 'progressbar',
                    style: "width: #{progress - 85}%",
                    class: Time.now <= @contest.end_time ? 'active progress-bar-striped' : nil}
          .timeframe-group
            %label{for: "#{@contest.id}-start"}= 'start at'
            %time{id: "#{@contest.id}-start", datetime: @contest.started_at}= @contest.started_at.to_formatted_s(:short)
          .timeframe-group
            %label{for: "#{@contest.id}-end"}= 'end at'
            %time{id: "#{@contest.id}-end", datetime: @contest.end_at}= @contest.end_at.to_formatted_s(:short)
          - if @contest.contest_type == 'delayable'
            .timeframe-group
              %label{for: "#{@contest.id}-delayed"}= 'delayed till'
              %time{id: "#{@contest.id}-delayed", datetime: @contest.delayed_till}= @contest.delayed_till.to_formatted_s(:short)


    - @contest.problems.each_with_index do |p,i|
      = render partial: 'problems/contest_problem', locals: {:@problem => p, index: i}


  .col-xs-3
    %ul.action-list.contest-actions.sticky.list-unstyled{role: 'tablist'}
      %li
        %a{data: {toggle: 'modal', target: '#submit-solution'}}
          %i.fa.fa-plus-circle
          Submit
      %li
        %a{href: contest_solutions_path(@contest.slug, @contest.id)}
          %i.fa.fa-history
          Submitted records
      %li
        %a{href: contest_ranking_path(@contest.slug, @contest.id)}
          %i.fa.fa-list
          Ranking
      .divider
      %ul.nav.nav-stacked.list-unstyled.problem-list
        %li
          %a{href: "#contest-heading-anchor"}= 'Contest'
        - @contest.problems.each_with_index do |p,i|
          %li
            %a{href: "##{p.unique_id}"}
              %b= "#{alphabet_offset(i)}:"
              = p.title
      .divider
      %li
        %time.realtime{data: {unix: Time.zone.now.strftime('%s')}}= Time.zone.now.strftime('%T')


#submit-solution.modal.fade{tabindex: '-1', role: 'dialog', aria: {labelledby: 'Import new problem', hidden: 'true'}}
  .modal-dialog.modal-lg
    .modal-content
      = form_for :solution, {url: contest_solutions_path(@contest.slug, @contest.id), accept: {charset: 'UTF-8'}, remote: true, method: :post} do |f|
        .modal-header
          %button{type: 'button', class: 'close', data: {dismiss: 'modal', label: 'Close'}}
            %span{aria: {hidden: 'true'}}
              &times;
          %h4#import-problem-label.modal-title
            Submit new solution
        .modal-body
          .form-horizontal
            .form-group
              .col-xs-9
                = f.label :contest_problem_id
                = f.select :contest_problem_id, contest_problem_select_options(@contest.problems), {}, class: 'form-control'
              .col-xs-3
                = f.label :platform
                = f.select :platform, platform_select_options, {}, class: 'form-control'
            .form-group
              .col-xs-12
                = render partial: 'components/source_editor',  |
                  locals: {                                    |
                  preview_url: '',                             |
                  ace_mode: 'java',                            |
                  indent_width: %w(2 4 8),                     |
                  tab_label: 'Source code',                    |
                  preview_label: 'Preview',
                  attribute: f.text_area(:source) }
        .modal-footer
          %button{type: 'button', class: 'btn btn-default', data: {dismiss: 'modal'}}
            Close
          %button{type: 'submit', class: 'btn btn-primary'}
            Submit
