.panel.panel-default.problem-panel{ data: { blurb: description_blurb(@problem) } }
  .panel-heading
    .panel-title
      %h1.problem-title
        %a.anchor{ id: unique_anchor_id(@problem) }
          %b= "#{alphabet_offset(index)}:"
          = @problem.title
    .meta
      %ul.list-inline.judge-limits
        - @problem.judge_limits.each do |platform, limit|
          %li.time-limit
            = "#{platform.capitalize} time limit#{@problem.per_case_limit ? ' per case' : nil}: #{limit[:time]} ms"
          %li.memory-limit= "memory limit#{@problem.per_case_limit ? ' per case' : nil}: #{limit[:memory]} KB"
  .panel-body
    :preserve
      #{raw @problem.baked}
