.panel.panel-default.problem-panel{data: {position: index, blurb: @problem.description_blurb}}
  .panel-heading
    .panel-title
      %h1.problem-title
        %a.anchor{id: @problem.unique_id}
          %b= "#{alphabet_offset(index)}:"
          = @problem.title
    .meta
      %ul.list-inline.judge-limits
        - @problem.judge_limits.each do |platform, limit|
          %li.time-limit
            = "#{platform.capitalize} time limit#{@problem.per_case_limit ? ' per case' : nil}: #{limit[:time]}"
          %li.memory-limit= "memory limit#{@problem.per_case_limit ? ' per case' : nil}: #{limit[:time]}"
  .panel-body
    :preserve
      #{raw @problem.baked}