<div class="form-group">
  <label for="problem-title">Title</label>
  <%= f.text_field :title, class: 'form-control', id: 'problem-title' %>
  <p>Concise, precise, or at least interesting.</p>
</div>

<div class="form-group">
  <%= f.hidden_field :raw %>
  <%= render partial: 'components/source_editor',
             locals: {
                 preview_url: '',
                 indent_width: %w(2 4 8),
                 tab_label: 'Edit content',
                 usage_classname: 'problem-content-create',
                 textarea_id: 'problem-content' } %>
</div>

<div class="row">
  <div class="col-md-6">
    <div class="input-group">
      <%= f.text_field :time_limit, class: 'form-control', placeholder: 'Time limit' %>
      <span class="input-group-addon">KB</span>
    </div>
  </div>

  <div class="col-md-6">
    <div class="input-group">
      <%= f.text_field :memory_limit, class: 'form-control', placeholder: 'Memory limit' %>
      <span class="input-group-addon">KB</span>
    </div>
  </div>
</div>

<div class="form-group">
  <label for="problem-source">Source</label>
  <%= f.text_area :source, class: 'form-control', id: 'problem-source' %>
</div>
