= render 'shared/error_messages', record: @problem
.form-group
  %label{:for => "problem-title"} Title
  = f.text_field :title, class: 'form-control', id: 'problem-title', placeholder: 'Concise, precise, or at least interesting.'
.form-group
  = render partial: 'components/source_editor',  |
    locals: {                                    |
    preview_url: preview_text_path,              |
    ace_mode: 'markdown',                        |
    indent_width: %w(2 4 8),                     |
    tab_label: 'Edit content',                   |
    preview_label: 'Preview',                    |
    attribute: f.text_area(:raw) }               |
.form-group.jugder-configuration
  .row
    .col-md-4
      %label Jugder configuration
  .row.limit-group
    .col-md-2.platform
      %span Default
    .col-md-3.time-limit-group
      .input-group
        = f.text_field :default_time_limit, class: 'form-control', placeholder: 'Time limit'
        %span.input-group-addon ms
    .col-md-3.memory-limit-group
      .input-group
        = f.text_field :default_memory_limit, class: 'form-control', placeholder: 'Memory limit'
        %span.input-group-addon KB
  = f.hidden_field :additional_limits
  - @problem.additional_limits.each do |limit|
    .row.additional-limit-group
      .col-md-2.platform
        %span(contenteditable="true")= limit['platform'] || ''.capitalize
      .col-md-3.time-limit-group
        .input-group
          = text_field_tag "[#{limit['platform']}][time]", limit['timeLimit'], class: 'form-control', placeholder: 'Time limit'
          %span.input-group-addon ms
      .col-md-3.memory-limit-group
        .input-group
          = text_field_tag "additional_limits[#{limit['name']}][memory]", limit['memoryLimit'], class: 'form-control', placeholder: 'Memory limit'
          %span.input-group-addon KB
      .col-md-1
        %button.btn.btn-default{:type => "button"} -
.row
  .col-md-1
    %button#add-new-judger-configuration.btn.btn-default{type: 'button'} +
.form-group
  .row
    .col-md-4
      = f.label :judge_type
      = f.select :judge_type, options_for_select([['Full text', 'full_text'], ['Program comparasion', 'program_comparison'], ['Remote proxy', 'remote_proxy']], @problem.judge_type || 'full_text'), {}, class: 'form-control'
.form-group.judge-vendor-group{data: {type: 'full_text program_comparison'}}
  .row
    .col-md-6
      = f.label :input_file
      = f.attachment_field :input_file, direct: true
    .col-md-6
      = f.label :output_file
      = f.attachment_field :output_file, direct: true
.form-group.judge-vendor-group{data: {type: 'program_comparison'}}
  .row
    .col-md-6
      = f.label :judger_program
      = f.attachment_field :judger_program, direct: true
    .col-md-6
      = f.label :judger_program_platform
      = f.select :judger_program_platform, platform_select_options, { selected: current_user && current_user.default_platform }, class: 'form-control'
.form-group.judge-vendor-group{data: {type: 'remote_proxy'}}
  .row
    .col-md-5
      = f.label :remote_proxy_vendor
      = f.text_field :remote_proxy_vendor, class: 'form-control'
.form-group
  .row
    .col-md-4
      = f.label :visible
  .row
    .col-md-1
      = f.check_box :visible, value: 'yes'
    .col-md-11.visible-to-group
      = f.collection_select :visible_to_group_id, Group.all, :id, :group_name, {}, { id: 'visible-to-group' }
