- content_for :title, 'Problem list'

- if current_user && current_user.staff?
  #problem-index-admin.admin-wrench.btn-group
    %button{type: 'button', class: 'btn btn-default dropdown-toggle',
        data: {toggle: 'dropdown'}, aria: {expanded: 'false'}}
      %i.fa.fa-wrench
    %ul.dropdown-menu.pull-right{role: 'menu'}
      %li
        %a{href: new_problem_path}
          New problem
      %li
        %a{href: '#', data: {toggle: 'modal', target: '#import-problem'}}
          Import new problem
  = render partial: 'problems/import_modal'
.row
  .col-xs-8
    .panel.panel-default
      .panel-heading
        Problems
      .table-responsive
        %table#problem-listings.table.table-bordered.table-hover
          %thead
            %th ID
            %th Title
            %th Submitted
            %th AC%
          %tbody.row-clickable{data: {element: 'tr'}}
            - @problems.each do |p|
              %tr
                %td= p.id
                %td= link_to p.title, show_problem_path(p.slug, p.id)
                %td= p.submission_count > 0 ? p.submission_count : '-'
                %td= p.accepted_rate
    = paginate @problems, window: 3
