- content_for :title, 'Problem list'

- if staff?
  #problem-index-admin.admin-wrench.btn-group
    %button{type: 'button', class: 'btn btn-default dropdown-toggle',
        data: {toggle: 'dropdown'}, aria: {expanded: 'false'}}
      %i.fa.fa-wrench
    %ul.dropdown-menu.pull-right{role: 'menu'}
      %li
        %a{href: new_problem_path}
          New problem
      %li
        %a{data: {toggle: 'modal', target: '#import-problem'}}
          Import new problem
  = render partial: 'problems/import_modal'
.row
  .col-md-12
    .panel.panel-default
      .panel-heading
        %h4
          Problems
      .table-responsive
        %table#problem-listings.table.table-bordered.table-hover
          %thead
            - if current_user
              %th
            %th ID
            %th Title
            %th Submitted
            %th AC%
          %tbody.row-clickable{data: {element: 'tr'}}
            - @problems.each do |p|
              %tr
                - if current_user
                  %td
                    - stat = UserProblemStat.where(user_id: current_user.id, problem_id: p.id).first_or_create
                    - if stat.state == 'accepted'
                      %i.fa.fa-check
                %td= p.id
                %td= link_to p.title, problem_path(p.slug, p.id)
                %td= p.submission_count > 0 ? p.submission_count : '-'
                %td= raw accepted_rate(p)

    = paginate @problems, window: 3
