- content_for :title, 'Create new problem'
.row
  .col-md-9
    %ol.breadcrumb
      %li= link_to 'Home', root_path
      %li= link_to 'Problem', problems_path
      %li.active Create new problem
  .col-md-3
    .btn-group-vertical{role: 'group'}
      %button{type: 'button', class: 'btn btn-default', data: {toggle: 'modal', target: '#import-problem'}}
        Import new problem

.row
  .col-md-9
    .panel.panel-default
      .panel-heading
        %h4 Create new problem
      .panel-body
        = form_for @problem, html: {role: 'form', class: 'create-problem problem-form'} do |f|
          = render partial: 'form', locals: { f: f }
          = f.button 'Create', class: 'btn btn-success'
          = link_to 'Cancel', problems_path

= render partial: 'problems/import_modal'
