<% content_for :title, 'Create new problem' %>

<div class="row">
  <div class="col-md-9">
    <ol class="breadcrumb">
      <li><%= link_to 'Home', root_path %></li>
      <li><%= link_to 'Problem', problems_path %></li>
      <li class="active">Create new problem</li>
    </ol>
  </div>
</div>
<div class="row">
  <div class="col-md-9">
    <%= form_for @problem, html: {role: 'form'} do |f| %>
      <%= render partial: 'form', locals: { f: f } %>

      <div class="checkbox">
        <label>
          <%= f.check_box :published %> Publish now?
        </label>
      </div>
      <%= f.button 'Create', class: 'btn btn-success' %>
      <%= link_to 'Cancel', problems_path %>
    <% end %>
  </div>
</div>
