<% content_for :title, 'Create new problem' %>

<div class="row">
  <div class="col-md-2 text-right">
    <i class="fa fa-puzzle-piece"></i>
  </div>
  <div class="col-md-8">
    <%= form_for @problem, html: {role: 'form'} do |f| %>
      <%= render partial: 'form', locals: { f: f } %>

      <div class="checkbox">
        <label>
          <%= f.check_box :published %> Publish now?
        </label>
      </div>
      <%= f.button 'Create', class: 'btn btn-success' %>
      <%= link_to 'Cancel', problems_path %>
    <% end %>
  </div>
</div>
