- content_for :title, @problem.title

.row
  .col-md-offset-1.col-md-7
    .page-header
      %h1.problem-title
        = @problem.id
        = @problem.title
    .problem-body
      = raw @problem.baked
  .col-md-3
    %ul.actions.problem-actions
      %li= link_to 'Submit', new_problem_solution_path(@problem)
      %li= link_to 'Submitted records', new_problem_solution_path(@problem)
    - if current_user && current_user.staff?
      .divider
      %ul.actions.problem-admin-actions
        %li= link_to 'Edit', edit_problem_path(@problem)
