<div class="row">
  <div class="col-md-offset-1 col-md-10">
    <h2><%= @problem.title %></h2>
    <p><%= @problem.author_id %></p>
  </div>
</div>
<div class="row">
  <div class="col-md-offset-1 col-md-10">
    <%= raw @problem.baked %>
  </div>
</div>

<%= link_to 'Edit', edit_problem_path(params[:id]) %>
<%= link_to 'Submit', new_problem_solution_path(params[:id]) %>
