- content_for :title, @problem.title

- if current_user && current_user.staff?
  #problem-admin.admin-wrench.btn-group
    %button{type: 'button', class: 'btn btn-default dropdown-toggle',
        data: {toggle: 'dropdown'}, aria: {expanded: 'false'}}
      %i.fa.fa-wrench
    %ul.dropdown-menu.pull-right{role: 'menu'}
      %li
        %a{href: edit_problem_path(@problem)}
          Edit problem

.panel.panel-default
  .panel-heading
    .panel-title
      %h1.problem-title
        = @problem.id
        = @problem.title
    .meta
      %ul.list-inline.judge-limits
        - @problem.judge_limits.each do |platform, limit|
          %li.time-limit
            = "#{platform.capitalize} time limit#{@problem.per_case_limit ? ' per case' : nil}: #{limit[:time]} ms"
          %li.memory-limit= "memory limit#{@problem.per_case_limit ? ' per case' : nil}: #{limit[:memory]} KB"
  .panel-body
    .col-xs-9.problem-body
      :preserve
        #{raw @problem.baked}
    .col-xs-3
      %ul.action-list.problem-actions.sticky.list-unstyled
        %li
          %a{href: new_problem_solution_path(@problem)}
            %i.fa.fa-plus-circle
            Submit
        %li
          %a{href: problem_solutions_path(@problem)}
            %i.fa.fa-history
            Submitted records
