- content_for :title, @problem.title

- if current_user && current_user.staff?
  #problem-admin.admin-wrench.btn-group
    %button{type: 'button', class: 'btn btn-default dropdown-toggle',
        data: {toggle: 'dropdown'}, aria: {expanded: 'false'}}
      %i.fa.fa-wrench
    %ul.dropdown-menu.pull-right{role: 'menu'}
      %li
        %a{href: edit_problem_path(@problem)}
          Edit problem

.row
  .col-xs-9
    .panel.panel-default
      .panel-heading
        .panel-title
          %h1.problem-title
            = @problem.id
            = @problem.title
        .meta
          %ul.list-inline.judge-limits
            - @problem.judge_limits.each do |platform, limit|
              %li.time-limit
                = "#{platform.capitalize} time limit#{@problem.per_case_limit ? ' per case' : nil}: #{limit[:time]} ms"
              %li.memory-limit= "memory limit#{@problem.per_case_limit ? ' per case' : nil}: #{limit[:memory]} KB"
      .panel-body
        .problem-body
          :preserve
            #{raw @problem.baked}
  .col-xs-3
    .panel.panel-default.sticky
      .panel-heading
        Actions
      %nav.action-list.problem-actions
        %ul.list-unstyled
          %li.action.action-success
            %a{ href: '#', data: { toggle: 'modal', target: '#submit-solution' } }
              %i.fa.fa-plus-circle
              Submit
          %li.action
            %a{ href: problem_solutions_path(@problem) }
              %i.fa.fa-history
              Submitted records


#submit-solution.modal.fade{tabindex: '-1', role: 'dialog', aria: {labelledby: 'Submit new solution', hidden: 'true'}}
  .modal-dialog.modal-lg
    .modal-content
      = form_for :solution, {url: problem_solutions_path(@problem.id), accept: {charset: 'UTF-8'}, remote: true, method: :post} do |f|
        .modal-header
          %button{type: 'button', class: 'close', data: {dismiss: 'modal', label: 'Close'}}
            %span{aria: {hidden: 'true'}}
              &times;
          %h4#import-problem-label.modal-title
            Submit new solution
        .modal-body
          .form-horizontal
            .form-group
              .col-xs-9
                = f.label :problem_id
                %p= @problem.title
              .col-xs-3
                = f.label :platform
                = f.select :platform, platform_select_options, {}, class: 'form-control'
            .form-group
              .col-xs-12
                = render partial: 'components/source_editor',  |
                  locals: {                                    |
                  preview_url: '',                             |
                  ace_mode: 'java',                            |
                  indent_width: %w(2 4 8),                     |
                  tab_label: 'Source code',
                  preview_label: 'Preview',
                  attribute: f.text_area(:source) }
        .modal-footer
          %button{type: 'button', class: 'btn btn-default', data: {dismiss: 'modal'}}
            Close
          %button{type: 'submit', class: 'btn btn-primary'}
            Submit
