.col-md-3
  .list-group
    %span Personal settings
    = link_to 'Profile', settings_profile_path, class: "list-group-item #{active_if('profile')}"
    = link_to 'Account settings', settings_account_path, class: "list-group-item #{active_if('account')}"
    = link_to 'Notification center', settings_notification_path, class: "list-group-item #{active_if('notification')}"
