.row
  = render 'users/settings/navlist'
  .col-md-9
    - flash.each do |name, msg|
      %div{:class => "alert alert-#{name} alert-dismissible", :role => "alert"}
        %button.close{"data-dismiss" => "alert", :type => "button"}
          %span{"aria-hidden" => "true"} &times;
          %span.sr-only Close
        = msg
    .panel.setting-panel.panel-default
      .panel-heading
        %h3.panel-title Change password
      .panel-body
        = form_for current_user, html: {role: 'form'}, url: settings_account_path, method: :post do |f|
          .form-group
            = f.label :old_password
            = f.password_field :old_password, class: 'form-control'
          .form-group
            = f.label :new_password
            = f.password_field :new_password, class: 'form-control'
          .form-group
            = f.label :confirmation_password
            = f.password_field :confirmation_password, class: 'form-control'
          = f.submit 'Update password', class: 'btn btn-default'
    .panel.setting-panel.panel-default
      .panel-heading
        %h3.panel-title Change email
      .panel-body
        = form_for current_user, html: {role: 'form'}, url: settings_account_path, method: :post do |f|
          %p Changing your username can have unintended side effects.
          .form-group
            = f.label :email
            = f.password_field :email, class: 'form-control'
          = f.submit 'Change email', class: 'btn btn-default'
    .panel.setting-panel.panel-default
      .panel-heading
        %h3.panel-title Delete account
      .panel-body
        = form_for current_user, html: {role: 'form'}, url: user_path(current_user), method: :delete do |f|
          = f.submit 'DELETE your account', class: 'btn btn-danger'
