<div class="row">
  <%= render 'users/settings/navlist' %>
  <div class="col-md-9">
    <% flash.each do |name, msg| %>
      <div class="alert alert-<%= name %> alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <%= msg %>
      </div>
    <% end %>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Public profile</h3>
      </div>
      <div class="panel-body">
        <%= form_for current_user, html: {role: 'form'}, url: settings_profile_path, method: :post do |f| %>
          <div class="form-group">
            <%= f.label :avatar %>
            <%= f.file_field :avatar %>
          </div>
          <div class="form-group">
            <%= f.label :username %>
            <%= f.text_field :username, class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= f.label :name %>
            <%= f.text_field :name, class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= f.label :website %>
            <%= f.text_field :website, class: 'form-control' %>
          </div>
          <%= f.submit 'Update profile', class: 'btn btn-success' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
