- content_for :title, @group.name

.row
  .col-md-12
    %ol.breadcrumb
      %li= link_to 'Home', root_path
      %li= link_to 'Groups', groups_path
      %li.active= @group.name

.row
  .col-md-9
    .panel.panel-default
      .panel-heading
        %h4= @group.name
      .table-responsive
        %table#group-listings.table.table-bordered
          %thead
            %th Users
          %tbody
            - @group.users.each do |u|
              %tr
                %td= link_to u.username, user_path(u)
