<div class="row">
  <div class="col-md-offset-1 col-md-10">
    <h1>Join RigidOJ</h1>
    <p>Conquer the problems and win the contests.</p>
  </div>
</div>

<div class="row">
  <div class="col-md-offset-1 col-md-7">
    <%= form_for @user, html: {role: 'form'} do |f| %>
      <h2>Create your personal account</h2>
      <div class="form-group">
        <%= f.label :username %>
        <%= f.text_field :username, class: 'form-control' %>
        <p class="note">This will be your username.</p>
      </div>
      <div class="form-group">
        <%= f.label :email, 'Email Address' %>
        <%= f.text_field :email, class: 'form-control' %>
        <p class="note">You will occasionally receive account related emails.</p>
      </div>
      <div class="form-group">
        <%= f.label :name %>
        <%= f.text_field :name, class: 'form-control' %>
        <p class="note">Your full name.</p>
      </div>
      <div class="form-group">
        <%= f.label :password %>
        <%= f.password_field :password, class: 'form-control' %>
      </div>
      <p class="tos-info">
        By clicking on "Create an account" below, you are agreeing to the
        <%= link_to 'Terms of Service' %> and the
        <%= link_to 'Privacy Policy' %>.
      </p>
      <%= button_tag 'Create an account', class: 'btn btn-success pull-right' %>
    <% end %>
  </div>
  <div class="col-md-3">
    <div class="panel panel-default">
      <div class="panel-heading"><h2>Enjoy RidigOJ</h2></div>
      <div class="panel-body">
        <ul class="features-list">
          <li><strong>Intensive</strong> contests</li>
          <li><strong>Challenging</strong> puzzles</li>
          <li class="divider"></li>
          <li><i class="fa fa-check"></i> Helpful communication</li>
          <li><i class="fa fa-check"></i> Keeping your status</li>
          <li><i class="fa fa-check"></i> Easily manage contests</li>
        </ul>
      </div>
    </div>
  </div>
</div>
