= content_for :title, 'Sign up'

.row
  .col-xs-offset-1.col-xs-10
    %h1 Join RigidOJ
    %p Conquer the problems and win the contests.
.row
  .col-xs-offset-1.col-xs-7
    = render 'shared/error_messages', record: @user
    = form_for @user, html: {role: 'form'} do |f|
      %h2 Create your personal account
      .form-group
        = f.label :username
        = f.text_field :username, class: 'form-control'
        = field_describer @user.errors[:username], 'This will be your username.'
      .form-group
        = f.label :email, 'Email Address'
        = f.text_field :email, class: 'form-control'
        = field_describer @user.errors[:email], 'You will occasionally receive account related emails.'
      .form-group
        = f.label :name
        = f.text_field :name, class: 'form-control'
        = field_describer @user.errors[:name], 'Your full name.'
      .form-group
        = f.label :password
        = f.password_field :password, class: 'form-control'
        = field_describer @user.errors[:password]
      %p.tos-info
        By clicking on "Create an account" below, you are agreeing to the
        \#{link_to 'Terms of Service'} and the
        \#{link_to 'Privacy Policy'}.
      = button_tag 'Create an account', class: 'btn btn-success pull-right'
  .col-xs-4
    .panel.panel-default
      .panel-heading
        %h2 Enjoy RidigOJ
      .panel-body
        %ul.features-list
          %li
            %strong Intensive
            contests
          %li
            %strong Challenging
            puzzles
          %li.divider
          %li
            %i.fa.fa-check
            Helpful communication
          %li
            %i.fa.fa-check
            Keeping your status
          %li
            %i.fa.fa-check
            Easily manage contests
