.row
  .col-md-3
    = render partial: 'users/ucard', locals: {:@user => @user}
  .col-md-9
    %ul.nav.nav-tabs
      %li{role: 'presentation', class: request.path == user_path(@user) ? 'active' : nil}
        %a{href: user_path} Problems
      %li{role: 'presentation', class: request.path.downcase == "/users/#{@user.username_lower}/groups" ? 'active' : nil}
        %a{href: "/users/#{@user.username_lower}/groups"} Groups
      %li{role: 'presentation', class: request.path.downcase == "/users/#{@user.username_lower}/bookmarks" ? 'active' : nil}
        %a{href: "/users/#{@user.username_lower}/bookmarks"} Bookmarks
    .panel.panel-default
      .panel-heading
        = case request.path.downcase
          - when "/users/#{@user.username_lower}" then 'Problem list'
          - when "/users/#{@user.username_lower}/groups" then 'Groups'
          - when "/users/#{@user.username_lower}/bookmarks" then 'Bookmarks'
          - else nil
      - case request.path.downcase
        - when "/users/#{@user.username_lower}"
          %table.table.table-bordered.table-hover.table-condensed
            %thead
              %tr
                %th
                  %i.fa.fa-check
                %th
                  Problem ID
                %th
                  Problem title
            %tbody
              %tr
                %td
                  %i.fa.fa-check
                %td
                  Dummy
                %td
                  Dummy
        - when "/users/#{@user.username}/groups"
          %table.table.table-bordered.table-hover.table-condensed
            %thead
              %tr
                %th
                  Group name
                %th
                  Members
            %tbody
              %tr
                %td
                  Dummy
                %td
                  Dummy
        - when "/users/#{@user.username}/bookmarks"
          %ul.list-group
            %li.list-group-item
              Dummy
            %li.list-group-item
              Dummy
        - else nil
