<div class="row">
  <div class="col-md-3">
    <div class="udcard">
      <%= link_to current_user ? settings_profile_path(current_user) : @user.avatar.large.url do %>
        <%= image_tag @user.avatar.large %>
      <% end %>
      <h1 class="udcard-names">
        <span class="udcard-fullname"><%= @user.name %></span>
        <span class="udcard-username"><%= @user.username %></span>
      </h1>
      <ul class="udcard-details">
        <% if current_user.staff? or @user.show_email %>
          <li class="udcard-detail"><a class="email" href="mailto:<%= @user.email %>"><%= @user.email %></a></li>
        <% end %>
      </ul>
      <div class="udcard-stats">
        <%= link_to user_solved_problems_path(@user), class: 'udcard-stat' do %>
          <strong class="udcard-stat-count"><%= @user.user_stat.problems_solved %></strong>
          <span class="text-muted">Problems solved</span>
        <% end %>
        <%= link_to user_joined_contests_path(@user), class: 'udcard-stat' do %>
          <strong class="udcard-stat-count"><%= @user.user_stat.contests_joined %></strong>
          <span class="text-muted">Contests joined</span>
        <% end %>
      </div>
    </div>
  </div>
  <div class="col-md-9">
    <ul class="nav nav-tabs">
      <li role="presentation" class="active"><a href="#">Home</a></li>
      <li role="presentation"><a href="#">Profile</a></li>
      <li role="presentation"><a href="#">Messages</a></li>
    </ul>
  </div>
</div>
