- content_for :title, 'Home'

.row
  .col-md-8
    - @posts.each do |p|
      %section.pinned-post
        %h2= p.title
        = p.first_comment.raw
  .col-md-4
    .panel.panel-default
      .panel-heading Links
      .panel-body
        %ul.list-unstyled
          - SiteSetting.related_links.split('|').each do |l|
            %li= raw l
.row
  .col-md-8
    .panel.panel-default
      .panel-heading Contests
      .panel-body
        - unless (l = Contest.latest).blank?
          - l.each do |c|
            .contest-description
              %h3= link_to c.title, contest_path(c.slug, c.id)
              = raw c.description_baked
        - else
          There is no contest.
  .col-md-4
