- content_for :title, "Editing #{@post.title}"

.row
  .col-md-10
    .panel.panel-default
      .panel-heading
        %h4= "Editing #{@post.title}"
      .panel-body
        = form_for :comment, url: posts_path(@post), html: {role: 'form'} do |f|
          = render partial: 'form', locals: { f: f }
          = f.button 'Create', class: 'btn btn-success'
          = link_to 'Cancel', problems_path
