- content_for :title, 'Posts'

- if PostPolicy.new(current_user, :post).create?
  .pull-right
    = button_to 'New Post', new_post_path, class: 'btn btn-primary', |
      html: { type: 'button' }, method: :get
.row
  .col-md-12
    .list-group.post-list
      - @posts.each do |p|
        .list-group-item.post-item
          .avatar= attachment_image_tag p.comments.first.user, :avatar, alt: p.comments.first.user.username, fallback: 'avatar.jpg'
          .content
            .list-group-item-heading= link_to p.title, post_path(p)
            .list-group-item-text
              .author= p.first_comment.user.username
      = paginate @posts, window: 3
