- content_for :title, @post.title

- if staff?
  .admin-wrench.btn-group
    %button{type: 'button', class: 'btn btn-default dropdown-toggle',
        data: {toggle: 'dropdown'}, aria: {expanded: 'false'}}
      %i.fa.fa-wrench
    %ul.dropdown-menu.pull-right{ role: 'menu' }
      %li= link_to 'Delete post', post_path(@post), method: :delete, data: { confirm: 'Are you sure?' }
      %li= link_to 'Pinned/Unpined at home page', post_pinned_path(@post), method: :put, remote: true
      %li= link_to 'Toggle visble', post_visible_path(@post), method: :put, remote: true

- if params[:contest_id]
  - contest = Contest.find(params[:contest_id])
  .row
    .col-md-12
      %ol.breadcrumb
        %li= link_to 'Home', root_path
        %li= link_to 'Contests', contests_path
        %li= link_to contest.title, contest_path(contest.slug, contest.id)
        %li.active problem

.row
  .col-md-12
    .post.post-box
      .meta.clearfix
        %h2.pull-left= @post.title
        = attachment_image_tag @post.first_comment.user, :avatar, :limit, 50, 50,
            alt: @post.first_comment.user.name, class: 'pull-right'
      .content
        - if current_user && current_user.admin?
          %span.pull-right= link_to 'Edit', edit_post_path(@post)
        = raw @post.first_comment.baked
    .comments.post-box
      - @post.comments[1..-1].each do |c|
        .comment
          .heading
            = attachment_image_tag c.user, :avatar, :limit, 50, 50, alt: c.user.name
            = link_to c.user.name, user_path(c.user)
            %span.text-muted= c.created_at.to_formatted_s(:long_add_second)
            %span.text-muted.pull-right= link_to 'Delete', post_comment_path(@post, c), method: :delete, data: { confirm: 'Are you sure?' }
          .content
            = raw c.baked

- if current_user
  .row
    .col-md-12
      = form_for [@post, @comment], html: { class: 'post-box' } do |f|
        .meta
          Add a new comment
        .content
          = f.text_area :raw
          %button.btn.btn-success Reply
