%nav#admin-navbar
  %ul.nav.nav-pills
    %li{ role: "presentation #{active_class_if_admin_action('dashboard')}"}
      = link_to 'Dashboard', admin_dashboard_path
    %li{ role: "presentation #{active_class_if_admin_action('show_settings')}"}
      = link_to 'Settings', admin_settings_path('required')
    %li{ role: "presentation #{active_class_if_admin_action('groups')}"}
      = link_to 'Groups', admin_groups_path
