- content_for :title, @group.name
= render partial: 'admin/admin/navbar'

.row
  .col-md-3
    /%input.search-for-group.form-control{ placeholder: 'Filter the group name' }
    .list-group
      - Group.all.each do |g|
        = link_to g.name, admin_group_path(g.group_name), class: 'list-group-item'
    %button.add.btn.btn-default{ data: { toggle: 'modal', target: '#add-group' } } Add
  .col-md-9
    = form_for @group, { url: admin_group_path(@group.group_name), accept: { charset: 'UTF-8' }, method: :put } do |f|
      .form-group
        %label.control-label{ for: 'group_name' }
          Group name(only English characters)
        = f.text_field :group_name, class: 'form-control'
      .form-group
        %label.control-label{ for: 'group_name' }
          Name(Shown for public)
        = f.text_field :name, class: 'form-control'
      .form-group
        %label.control-label{ for: 'users' }
          Users
        = f.collection_select :user_ids, @group.users, :id, :username,
            { selected: @group.user_ids }, { id: 'group-users', multiple: true }
      .form-group
        %label.control-label{ for: 'visible' }
          Visible
          = f.check_box :visible
      %button{ type: 'submit', class: 'btn btn-warning' }
        Update

#add-group.modal.fade{ tabindex: '-1', role: 'dialog', aria: { labelledby: 'Add new group', hidden: 'true' } }
  .modal-dialog
    .modal-content
      = form_for :group, { url: admin_groups_path, accept: { charset: 'UTF-8' }, method: :post } do |f|
        .modal-header
          %button{type: 'button', class: 'close', data: {dismiss: 'modal', label: 'Close'}}
            %span{aria: {hidden: 'true'}}
              &times;
          %h4#import-problem-label.modal-title
            Add new group
        .modal-body
          .form-group
            = f.label :group_name, 'Group name(only English characters)', class: 'control-label'
            %label.control-label{ for: 'group_name' }
            = f.text_field :group_name, class: 'form-control'
          .form-group
            = f.label :name, 'Name(Shown for public)', class: 'control-label'
            = f.text_field :name, class: 'form-control'
          .form-group
            = f.label :visible, class: 'control-label'
            = f.check_box :visible, value: 'yes'
        .modal-footer
          %button{type: 'button', class: 'btn btn-default', data: {dismiss: 'modal'}}
            Close
          %button{type: 'submit', class: 'btn btn-success'}
            Create
