<div class="form-group">
  <div class="row">
    <div class="col-md-8">
      <%= f.label :problem_id %>
      <%= f.text_field :problem_id, class: 'form-control' %>
    </div>
    <div class="col-md-4">
      <%= f.label :platform %>
      <%= f.select :platform, platform_select_options, {}, class: 'form-control' %>
    </div>
  </div>
</div>
<div class="well">
  <%= @problem.title %>
  <%= @problem.default_time_limit %>
  <%= @problem.default_memory_limit %>
</div>
<div class="form-group">
  <%= f.hidden_field :source %>
  <%= render partial: 'components/source_editor',
             locals: {
                 preview_url: preview_solution_path(@solution),
                 ace_mode: 'markdown',
                 indent_width: %w(2 4 8),
                 tab_label: 'Edit content',
                 preview_label: 'Preview',
                 textarea_id: 'solution-content' } %>
</div>
