= render 'shared/error_messages', record: @solution
.form-group
  .row
    .col-md-8
      = f.label :problem_id
      = f.select :problem_id, {}, class: 'form-control'
    .col-md-4
      = f.label :platform
      = f.select :platform, platform_select_options, { selected: current_user && current_user.default_platform }, class: 'form-control'
.form-group
  = render partial: 'components/source_editor',  |
    locals: {                                    |
    preview_url: '',                             |
    ace_mode: @solution.ace_mode,                |
    indent_width: %w(2 4 8),                     |
    tab_label: 'Source code',                    |
    preview_label: 'Preview',                    |
    attribute: f.text_area(:source) }            |
