- content_for :title, 'Solutions'

- if params[:contest_id]
  - contest = Contest.find(params[:contest_id])
  .row
    .col-md-12
      %ol.breadcrumb
        %li= link_to 'Home', root_path
        %li= link_to 'Contests', contests_path
        %li= link_to contest.title, contest_path(contest.slug, contest.id)
        %li.active Solutions
.row
  .col-md-12
    .panel.panel-default
      .panel-heading.clearfix
        %h4.pull-left
          Solutions
        - if !params[:contest_id] && current_user
          %a{ role: 'button', class: 'btn btn-default pull-right',
              href: new_solution_path }
            Submit
      - unless @solutions.blank?
        .table-responsive
          %table#solution-listings.table.table-bordered.table-condensed.table-hover
            %thead
              %tr
                %th ID
                %th Author
                %th Status
                %th Time
                %th Memory
                %th Platform
                %th Submission time
                %th Problem
            %tbody
              - @solutions.each do |s|
                %tr
                  %td.id= s.id
                  %td= link_to s.user.username, s.user
                  %td
                    %span.solution-status-text{ class: s.status, style: "color: #{solution_status_color(s)}" }
                      = s.pretty_solution_status

                  %td= show_details?(s) ? "#{s.time_usage} ms" : '-'
                  %td= show_details?(s) ? "#{s.memory_usage} KB" : '-'
                  %td= s.platform
                  %td= s.created_at.to_formatted_s(:long_add_second)
                  %td= link_to s.problem.title, problem_path(s.problem.slug, s.problem.id)
      - else
        .panel-body
          There is no submission at this time.
    = paginate @solutions, window: 3

#solution-details.modal.fade{ tabindex: -1, role: 'dialog', aria: { labelledby: 'solution-details-label', hidden: 'true' } }
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        %button.close{ type: 'button', data: { dismiss: 'modal' }, aria: { label: 'Close' } }
          %span{ aria: { hidden: 'true' } } &times;
        %h4#solution-details-label.modal-title Solution details
      .modal-body
      .modal-footer
        %button.btn.btn-default{ type: 'button', data: { dismiss: 'modal' } } Close
