.gxxiao945900
  - content_for :title, 'Solutions'

- if params[:contest_id]
  - contest = Contest.find(params[:contest_id])
  .row
    .col-xs-12
      %ol.breadcrumb
        %li= link_to 'Home', root_path
        %li= link_to 'Contests', contests_path
        %li= link_to contest.title, show_contest_path(contest.slug, contest.id)
        %li.active Solutions
.row
  .col-xs-12
    .panel.panel-default
      .panel-heading.clearfix
        %h4.pull-left
          Solutions
        - unless params[:contest_id]
          %a{role: 'button', class: 'btn btn-default pull-right',
              href: new_solution_path}
            Submit
      - unless @solutions.blank?
        .table-responsive
          %table#solution-listings.table.table-bordered.table-condensed.table-hover
            %thead
              %tr
                - if current_user.staff?
                  %th{ rowspan: 2 } ID
                %th{ rowspan: 2 } Author
                %th{ rowspan: 2 } Status
                %th{ rowspan: 2 } Time
                %th{ rowspan: 2 } Memory
                %th{ rowspan: 2 } Platform
                %th{ rowspan: 2 } Submission time
                %th{ colspan: 2 } Problem
              %tr
                %th ID
                %th Title
            %tbody
              - @solutions.each do |s|
                %tr
                  - if current_user.staff?
                    %td= s.id
                  %td= link_to s.user.username, s.user
                  %td= status_span(s)
                  %td= show_details?(s) ? "#{s.time_usage} ms" : '-'
                  %td= show_details?(s) ? "#{s.memory_usage} KB" : '-'
                  %td= s.platform
                  %td= s.created_at.to_formatted_s(:long_add_second)
                  %td= link_to s.problem.id, show_problem_path(s.problem.slug, s.problem.id)
                  %td= link_to s.problem.title, show_problem_path(s.problem.slug, s.problem.id)
      - else
        .panel-body
          There is no submission at this time.
    = paginate @solutions, window: 3
