- content_for :title, 'Solutions'

.row
  .col-xs-2.col-xs-offset-10
.row
  .col-xs-12
    .panel.panel-default
      .panel-heading.clearfix
        %h4.pull-left
          Submission
        - unless params[:contest_id]
          %a{role: 'button', class: 'btn btn-default pull-right',
              href: new_solution_path}
            Submit
      - unless @solutions.blank?
        .table-responsive
          %table#solution-listings.table.table-bordered.table-condensed.table-hover
            %thead
              %th Submission time
              %th Status
              %th Problem ID
              %th Execution time
              %th Platform
              %th Author
            %tbody
              - @solutions.each do |s|
                %tr
                  %td= s.updated_at
                  %td= s.status
                  %td= link_to s.problem.id, show_problem_path(s.problem.slug, s.problem.id)
                  %td= show_details?(s) ? s.time_usage : '-'
                  %td= s.platform
                  %td= link_to s.user.username, s.user
      - else
        .panel-body
          There is no submission at this time.
    = paginate @solutions, window: 3
