- content_for :title, 'Solutions'

.row
  .col-md-2.col-md-offset-10
    = button_to 'Submit', new_solution_path, class: 'btn btn-primary', |
      html: {type: 'button'}, method: :get
.row
  .col-md-12
    .table-responsive
      %table#solution-listings.table.table-condensed.table-hover
        %thead
          %th Submission time
          %th Status
          %th Problem ID
          %th Execution time
          %th Source length
          %th Platform
          %th Author
        %tbody
          - @solutions.each do |s|
            %tr.row-clickable
              %td= s.updated_at
              %td= s.solution_status
              %td= link_to s.problem_id, problem_path(s.problem_id)
              %td= s.time_usage == 0 ? '-' : s.time_usage
              %td= s.source_length == 0 ? '-' : s.source_length
              %td= s.platform
              %td= link_to s.user.name, s.user
      = paginate @solutions, window: 3, remote: true
