- content_for :title, @problem ? 'Submit for ' + @problem.title : 'Submit'

.row
  .col-xs-10
    %ol.breadcrumb
      %li= link_to 'Home', root_path
      %li= link_to 'Problem', problems_path
      - if @problem
        %li= link_to @problem.title, show_problem_path(@problem.slug, @problem.id)
      %li.active Submit new solution

.row
  .col-xs-10
    = form_for [@problem, @solution], html: {role: 'form', class: 'solution-form'} do |f|
      = render partial: 'form', locals: { f: f }
      = f.button 'Submit', class: 'btn btn-success'
      = link_to 'Cancel', problems_path
