<% cache "header-#{current_user ? current_user.id : 0}" do %>
  <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-drawer">
          <span class="sr-only">切换导航面板</span>
          <i class="fa fa-bars"></i>
        </button>
        <%= link_to 'Brand', root_path, class: 'navbar-brand' %>
      </div>

      <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
      </form>
      <div class="collapse navbar-collapse" id="navbar-drawer">
        <ul class="nav navbar-nav navbar-links">
          <li><%= link_to 'Problem', problems_path %></li>
          <li><%= link_to 'Contest', contests_path %></li>
          <li><%= link_to 'Post', posts_path %></li>
          <li><%= link_to 'Help', help_path %></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <% unless current_user %>
            <li><%= link_to 'Sign up', registration_path %></li>
            <li><%= link_to 'Log in', login_path %></li>
          <% else %>
            <li class="dropdown">
              <a data-target="#" href="/notification" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" role="button" aria-expanded="false">
                <span class="notification-badge">0</span>
              </a>
              <ul class="dropdown-menu">
              </ul>
            </li>
            <li>
              <a data-target="#" href="<%= user_path(current_user) %>" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" role="button" aria-expanded="false" data-no-turbolink>
                <%= current_user.username %> <i class="fa fa-caret-down"></i>
              </a>
              <ul class="dropdown-menu" role="menu">
                <li><%= link_to 'My profile', user_path(current_user) %></li>
                <li><%= link_to 'Settings', edit_user_path(current_user) %></li>
                <li><%= link_to 'Favroites', user_favroites_path(current_user) %></li>
                <li><%= link_to 'Notes', user_notes_path(current_user) %></li>
                <% if current_user.staff? %>
                  <li><%= link_to 'Admin', admin_dashboard_path %></li>
                <% end%>
                <li class="divider"></li>
                <li><%= link_to 'Log out', logout_path, method: :delete, data: { confirm: 'Are you sure?' }  %></li>
              </ul>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </nav>
<% end %>
