<!DOCTYPE html>
<html lang="en">
<head>
  <%= render 'layouts/head' %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

</head>
<body>
  <!--[if lt IE 8]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->

  <%= render 'layouts/header' %>

  <section id="main">
    <div class="container-fluid">
      <%= yield %>
    </div>
  </section>

  <%= render 'layouts/footer' %>

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</body>
</html>
