!!!
%html{:lang => "en"}
  %head
    = render partial: 'layouts/head'
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    /[if lt IE 8]
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    = render partial: 'layouts/header'
    %section#main
      .container
        - flash.each do |type, msg|
          %div{ class: "alert alert-#{type} fade in", role: 'alert' }
            %button.close{ data: { dismiss: 'alert' } } ×
            = msg
        = yield
    = render partial: 'layouts/footer'
