<% cache SiteSetting.title do %>
  <!DOCTYPE html>
  <html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title><%= SiteSetting.title %></title>
    <meta name="description" content="<%= SiteSetting.site_description %>">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
    <link rel="shortcut icon" type="image/x-icon" href="<%= SiteSetting.favicon_url %>">
    <link rel="apple-touch-icon" sizes="256x256" href="<%= SiteSetting.apple_touch_icon_url %>">
    <!--[if lt IE 9]>
      <%= javascript_include_tag 'html5shiv' %>
    <![endif]-->
    <%= javascript_include_tag 'landing', 'data-turbolinks-track' => false %>
    <%= stylesheet_link_tag    'landing', media: 'all', 'data-turbolinks-track' => false %>
  </head>
  <body>
    <!--[if lt IE 8]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <%= yield %>
  </body>
  </html>
<% end %>
